.light {
  * {
    color: var(--color-text-primary) !important;
    transition: color 0.5s ease !important;
    border-color: var(--color-text-primary) !important;
  }
  body {
    background-color: var(--color-background) !important;
  }
}

.dark {
  * {
    color: var(--color-contrast) !important;
    transition: color 0.5s ease !important;
  }
  body {
    background-color: #111111 !important;
  }
}

.marquee {
  color: var(--color-text-primary);
  font-family: "Ade", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  font-size: 1.1rem;
  border-top: 1px solid var(--color-border-subtle);
  border-bottom: 1px solid var(--color-border-subtle);
  margin: 2rem 0 4rem 0;
  .marquee__inner {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }
}

.featured {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-text-primary);
  font-family: "Ade", serif;
  font-size: 10em;
  letter-spacing: 0.1em;
  line-height: 1.2;
  p {
    display: inline-block;
    span {
      display: inline-block;
    }
  }
}

:global(body.projects-section-active) .featured {
  color: #d1d1c7;
}
