.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: opacity 0.5s ease-out;
  user-select: none;
  background-color: #111111;
  color: #ffffff;

  .letters {
    font-weight: 100;
    font-family: "Ade", serif;
    font-size: 12em;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
}

.counter {
  position: absolute;
  top: 200px;
  right: 350px;
  font-size: 1.1em;
  font-family: "Montreal", sans-serif;
  color: #ffffff;
  @media screen and (max-width: 991px) {
    right: 250px;
    font-size: 2em;
    top: 250px;
  }
  @media screen and (max-width: 767px) {
    right: 150px;
    font-size: 1.7em;
    top: 350px;
  }
  @media screen and (max-width: 575px) {
    right: 50px;
    font-size: 1.5em;
    top: 300px;
  }
  @media screen and (max-width: 400px) {
    right: 50px;
    font-size: 1.5em;
    top: 350px;
  }
}
