.projects {
  position: relative;
  width: 100%;
  color: var(--color-text-primary);
  .projectOne {
    display: flex;
    justify-content: center;
    // height: max(100vh, 850px);
    width: 100%;
    // position: sticky;
    background-color: var(--color-background);

    z-index: -100;
  }
  .projectThree {
    display: flex;
    justify-content: center;
    // position: sticky;
    // height: max(calc(100vh - 7em), calc(850px - 7em));

    width: 100%;
    background-color: var(--color-background);

    z-index: -50;
  }
  .container1 {
    border-top: 1px solid var(--color-border-strong);
    padding: 2em 0 0 0;
    margin: 7em 3em 4em 3em;
    display: grid;
    grid-template-columns: 2fr 4.2fr;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
  .container2 {
    border-top: 1px solid var(--color-border-strong);
    padding: 2em 0 0 0;
    margin: 0em 3em 6em 3em;
    display: grid;
    grid-template-columns: 2fr 4.2fr;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
  .subtitle {
    grid-column: 2/3;
    margin-bottom: 3em;
    @media screen and (max-width: 767px) {
      font-size: 2.5em;
      margin-bottom: 0em;
    }
  }
  .title {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1.5em;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .video {
    align-self: end;
    grid-column: 2/3;
    overflow: hidden;
    border-radius: 20px;
    aspect-ratio: 16/9;

    @media screen and (max-width: 767px) {
      margin: 5em 1em;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .projectdesc {
    grid-row: 2/3;
    align-self: end;
    z-index: 2 !important;
    @media screen and (max-width: 767px) {
      font-size: 2em;
      width: 100%;
    }

    a {
      color: var(--color-text-primary);
      text-decoration: none;
      border: 1px solid var(--color-border-strong);
      padding: 0.5em 1em;
      width: 10em;
      height: 3.5em;
      border-radius: 3em;
      font-size: 0.9em;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      @media screen and (max-width: 767px) {
        width: 100%;
      }

      &:hover {
        background-color: var(--color-text-primary);
        color: var(--color-contrast);
      }
    }
    .site {
      border: 3px solid var(--color-border-strong);
      animation: colorchange 4s infinite alternate;
    }
    @keyframes colorchange {
      0%,
      100% {
        border-color: var(--accent-one);
      } /* Teal */
      20%,
      80% {
        border-color: var(--accent-two);
      } /* Light Blue */
      40%,
      60% {
        border-color: var(--accent-three);
      } /* Pink */
    }
    .links {
      display: flex;
      gap: 2em;
      grid-column: 1/2;
      @media screen and (max-width: 767px) {
        font-size: 1.3em;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    .description {
      grid-column: 1/2;
      font-size: 1em;
      line-height: 1.5em;
      width: 23em;
      margin-top: 2em;
      @media screen and (max-width: 767px) {
        font-size: 1.3em;
        width: 100%;
      }
    }
  }
}
